body {
    padding-top: 150px;
    /*background: url('picture/wall.jpg') no-repeat center center fixed;*/
    background-color: #e6f2ff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.ui-autocomplete {
    cursor:pointer;
    height:120px;
    overflow-y:scroll;
    z-index: 5000;
}

.fc-content {
    cursor: pointer;
}



.block {
    position: relative;
    padding: 25px 50px 50px 50px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px 15px 15px;

}

.label {
    font-family: 'Amaranth', sans-serif;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    width: initial;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border-style: dashed;
    border-width: 2px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.new-event-count {
    background-color: #ff6666;
    color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.side-bar-header {
    background-color: white;
    color: black;
    padding: 15px 15px 15px 15px;
    border-radius: 20px 20px 20px 20px;
    border-style: dashed;
    font-family: 'Amaranth', sans-serif;
    font-size: 22px;
}

.header {
    color: black;
    font-family: 'Jockey One', sans-serif;
    font-size: 27px;
    line-height: 30px;
    padding: 2px 20px 1px 20px;
}

.content {
    background-color: white;
    color: black;
    font-size: 22px;
    font-family:Book Antiqua;
    padding: 10px 20px 10px 20px;
}

