<!-- Modal -->
<div class="modal fade" id="search" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Subscribe to Pages that You're Interested In</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <p> Step 1: Subscribe to Domains </p>
                        <div class="ui-widget">
                            <label for="domainSearch">Domain:&nbsp;</label>
                            <input type="text" id="domainSearch" placeholder=" Select a domain" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p> Step 2: Like Pages</p>
                        <div id="likablePages"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Domain Name: <span id="selectedDomainName"></span> </p>
                        <p>Description: <span id="selectedDomainDescription"></span> </p>
                        <p>Member Number: <span id="selectedDomainMemberNumber"></span> </p>
                        <button id="subscribeDomain" type="button" class="btn btn-primary btn-sm" onclick="subscribeDomainButton()">Subscribe</button>
                    </div>
                    <div class="col-lg-6">
                        <p>Page Name: <span id="selectedPageName"></span> </p>
                        <p>Description: <span id="selectedPageDescription"></span> </p>
                        <p>Member Number: <span id="selectedPageMemberNumber"></span> </p>
                        <button id="subscribePage" type="button" class="btn btn-primary btn-sm" onclick="subscribePageButton()">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>









</script>