<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title> Member Home | Megaphone </title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/member_home/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/member_home/simple-sidebar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/subscription.js' %}"></script>
    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script src="{% static 'js/searchModal.js' %}"></script>
    <script src="{% static 'js/formatDate.js' %}"></script>

    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}">
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}">></script>
    <script src="{% static 'js/member_home/member_home.js' %}"></script>
</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="margin-top: 25px;">
            <li class="sidebar-brand">
                <a href="#">
                    <span class="side-bar-header">Site Management</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="populateModal()" style="font-size: 150%; color: white; line-height: 40px;"> + Subscribe </a>
            </li>
            <br>
            {% for key, values in domain_list.items %}
            <li>
                <a href="#" style="font-size: 120%;">
                    {{ key }}
                </a>
                <ul>
                    {% for page in values %}
                    <li>
                        <a href="#">
                            {{ page }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}

        </ul>
    </div>
    <div id="page-content-wrapper">
        {% include '_navbar.html' with announcement_count=new_announcement_count%}
        {% include '_search.html' %}
        {% include '_event.html' %}

        <div class="container">
            <div class="block">
                <p class="label" type="button" data-toggle="collapse" data-target="#calendar    "> Event Calendar </p>
                <div id="calendar" class="collapse in" style="background-color: white; padding: 20px 20px 20px 20px;"></div>
                <br>
                {% if new_events_count > 0 %}
                <p class="label" type="button" data-toggle="collapse" data-target="#new-events"> New Events
                    <span class="new-event-count">{{ new_events_count }}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></p>
                <div id="new-events" class="collapse">
                {% for event in new_event %}
                <div class="single-event">
                    <p class="event-header" type="button" data-toggle="collapse" data-target="#{{event.pk }}"
                       style="background-color: {% if event.level == 'domain' %} #00cc66 {% else %} #3399ff     {% endif %}">
                        {{ event.content_object.name }}:&nbsp;&nbsp;&nbsp;{{ event.name }} </p>
                    <div id="{{ event.pk }}" class="single-event-content collapse">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Organizer:</strong> {{ event.content_object.name }} </p>
                                <p><strong>Type of Event:</strong> {{ event.function }} </p>
                            </div>
                            <div class="col-sm-6">
                                <p><strong>Location:</strong> {{ event.location }} </p>
                                <p><strong>Start:</strong> {{ event.date_event }}</p>
                                <p><strong>End:</strong> {{ event.date_end }}</p>
                            </div>
                        </div>
                        <p><strong>About:</strong> {{ event.description }} </p>
                        <p class="event-counters"><strong>Watching:</strong> {{ event.watchers }}
                            <strong>Going:</strong> {{ event.goers }}</p>
                    </div>
                </div>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            <br><br><br>
        </div>
    </div>

</div>


<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
<p> announcement</p>
{% for key, value in domains_announcement.items %}
{% if value %}
<p>Domain: {{key}}</p>
<p>Announcement: {{value}}</p>
{% endif %}
{% endfor %}
<p> event</p>
{% for key, values in domains_event.items %}
<p>Domain: {{key}}</p>
{% for event in values %}
{% if event %}
<p> Event: {{ event.name }} </p>
{% endif %}
{% endfor %}
{% endfor %}

<script>
    var globals = {
      noSubscription: {{displaySearchBox|yesno:"true,false"}},
      event_list: [
        {% for event in event_list %}
            {
                title: '{{ event.name|default_if_none:"Not Provided"  }}',
                start: '{{ event.date_event|date:"Y-m-d G:i"|default_if_none:"Not Provided" }}',
                end: '{% ifnotequal event.date "" %}{{ event.date_end|date:"Y-m-d G:i" }}{%else %} Not Provided {% endifnotequal%}',
                description: '{{ event.description|default_if_none:"Not Provided" }}',
                host: '{{ event.content_object.name|default_if_none:"Not Provided" }}',
                watchers: {{ event.watchers }},
                goers: {{ event.goers }},
                location: '{{ event.location|default_if_none:"Not Provided" }}',
                function: '{{ event.function|default_if_none:"Not Provided" }}',
                color:  {% now "Y-m-d" as todays_date %}
                        {% if todays_date > event.date_end|date:"Y-m-d" %}
                            '#8c8c8c'
                        {% elif event.level == "domain" %}
                            '#00cc66'
                        {% else %}
                            '#3399ff'
                        {% endif %},
                level: '{{ event.level }}',
            },
        {% endfor %}
      ],

    };

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });





</script>


</body>
</html>
