<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Page Admin | Megaphone </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script src="{% static 'js/page_home/page_home_event.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/domain_home/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
{% include '_navbar.html' %}
<div class="container">
    <ul class="list-inline">
        <li class="title"><a class='inactive' href="/pageAdmin">Announcement</a></li>
        <li class="title"><a class='active' href="/pageAdmin/event">Event</a></li>
    </ul>
    <div class="block">
        <div class="content">
            <div class="announcement">
                <p class="subtitle"> Your Ongoing Events</p>
                <!--<a id="history_event_button" type="button"
                   onclick="eventHistoryButton()">
                    Event History </a>-->
                <div id="current-event-board">
                    {% for event in ongoing_events %}
                    <div class="single-event">
                        <p class="event-header"> {{ event.name }} </p>
                        <div class="single-event-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p><strong>Organizer:</strong> {{ event.content_object.name }} </p>
                                    <p><strong>Type of Event:</strong> {{ event.function }} </p>
                                </div>
                                <div class="col-sm-6">
                                    <p><strong>Location:</strong> {{ event.location }} </p>
                                    <p><strong>Start:</strong> {{ event.date_event }}</p>
                                    <p><strong>End:</strong> {{ event.date_end }}</p>
                                </div>
                            </div>
                            <p><strong>About:</strong> {{ event.description }} </p>
                            <p class="event-counters"><strong>Watching:</strong> {{ event.watchers }}
                                <strong>Going:</strong> {{ event.goers }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="post-event-panel">
                        <button id="pop_up_new_event_panel" class="btn create-event-button btn-lg"
                                data-toggle="modal" data-target="#create_event"> Create an new event
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="back"></div>
    </div>
</div>
{% include '_create_event.html' %}
</body>
</html>
